/* GLOBAL */
:root{
  --primary: #ea625c ;
  --primary-hover: #c9514c ;
  --text-color: #333333;
}
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;

}
* :focus {
  outline: 2px dashed var(--primary);
  outline-offset: 3px;
}

*,
::after,
::before{
  box-sizing: inherit;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: var(--text-color);
}


/* CONTAINER */
.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE HEADER */
.site-header{
  padding-top: 30px;
  margin-bottom: 50px;
}
.site-header-box-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header-main-logo {
  display: block;
  width: 35px;
  height: 42px;
  object-fit: contain;
}

.site-header-sitenav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sitenav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 40px;
}

.sitenav-item:not(:last-child) {
  margin-right: 30px;
}

.sitenav-link {
  display: block;
  padding-top: 6px;
  padding-bottom: 3px;
  font-size: 15px;
  text-decoration: none;
  color: var(--text-color);
  transition: border-bottom 0.3s ease;
}

.sitenav-link:hover{

  border-bottom: 3px solid #333333;

}

.search-form-input{
  font-size: 15px;
  padding-left: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #666666;
  border: none;
  border-bottom: 1px solid #333333;

}

/* MAIN CONTENT */
.main-content{
  flex-grow: 1;
}

/* FREEDOM CALLS */
.hero {
  border-bottom: 2px solid #ddd;
  padding-top: 120px;
  padding-bottom: 185px;
  background-image: url(../img/watches.jpg);
  background-position: left calc(50% + 540px) bottom;
  background-size: 587px 565px;
  background-repeat: no-repeat;
  margin-bottom: 70px;
}
.lead-cta {
  width: 100%;
  max-width: 490px;
}
.lead-cta-heading {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #000000;
}
.lead-cta-text {
  margin: 0;
  width: 100%;
  max-width: 450px;
  padding-left: 40px;
  border-left:  3px solid #888888;
  color: #777777;
  margin-bottom: 30px;
}
/* PRIMARY-BUTTON */

.primary-button-link {
  display: inline-block;
  border: 0;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 39px;
  color: #fff;
  background-color: var(--primary);
  transition: all 0.3s ease;
}

.primary-button-link:hover{
  background-color: var(--primary-hover);

}
.primary-button-link:active{
  background-color: var(--primary-hover);
  opacity: 0.6;
}


/* FEATURES LIST BUTTON */

.lined-link{
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--primary);
  text-decoration: none;
  text-transform: uppercase;
}

.lined-link::before {
  width: 40px;
  height: 3px;
  margin-right: 10px;
  background-color: var(--primary);
  content: "";
  transition: width 0.3s ease;
}

.lined-link:hover::before{
  width: 60px;
}


/* RITINA SCREEN */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .hero{
    background-image: url(../img/watches@2x.jpg);
  }
}

/* FEATURES LIST */
.features {
  margin-bottom: 70px;
}
.features-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
.features-item:not(:last-child) {
  margin-right: 80px;
}

.features-item {
  max-width: 280px;
}
.features-item-heading {
  font-size: 17px;
  font-weight: 700;
  color: #222;
  text-transform: uppercase;
}
.features-item-text {
  margin-top: 0;
  font-size: 15px;
  line-height: 160%;
  margin-bottom: 20px;
}

.devider{
  width: 8px;
  height: 8px;
  border: 0;
  margin: 0;
  background-color: #ddd;
  box-shadow: 16px 0 0 0 #ddd,
  32px 0 0 0 #ddd;
}
